*.obj
*.pch
*.lib
*.exe
*.dll
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

GFSDK_HairWorks.win64.dll*
GFSDK_HairWorks.win32.dll*
NvHairWorksDx11.win64.dll*
NvHairWorksDx11.win32.dll*
GFSDK_HairWorks.h*
GFSDK_HairWorks_Common.h*
GFSDK_HairWorks_ShaderCommon.h*
HairWorksIntegration/*.sln
HairWorksIntegration/*.csproj

_out/
_tmp/
Externals/
Library/
Temp/
Build/
Builds/
include/
Hidden/
Hidden.meta
obj/
/HairWorksIntegration/.vs/HairWorksIntegration/v15/sqlite3/storage.ide
